--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>International Charitable Foundation "Come Back Alive" banking details </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=621a38a3761d0f0019f2bf2b&product=inline-share-buttons" async="async"></script>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">
        
                        <section>
                        <header>
                            <h3> CO "International Charitable Foundation "Come Back Alive" </h3>
                        </header>  
                        
                        <table style="width:100%">
                            <tr>
                                <td>
                                    For UAH remittances:<br>
                                    IBAN: UA223226690000026007300905964<br>
                                    ЄДРПОУ: 39696398<br>
                                    Отримувач: Благодійна Організація «Міжнародний благодійний фонд «Повернись живим»<br>
                                    Призначення платежу: Благодійна допомога військовослужбовцям.<br>
                                    Або за прямим <a href="https://next.privat24.ua/payments/form/%7B%22token%22:%225e99fe0a-7962-444c-8ee4-dc236efb2aa3%22%7D?lang" target="_blank"> посиланням.</a> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For USD remittances:<br>
                                    IBAN UA173052990000026009035028620<br>
                                    Name of the Bank: JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    Company address: 32 BOHDANA KHMELNYTSKOHO STR., KYIV, 01054, UKRAINE (м. Київ, вул. Богдана Хмельницького б.32, кв.41)<br>
                                    Purpose of payment: Charitable donation to Ukrainian military.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For EUR remittances:<br>
                                    IBAN UA093052990000026004025029786<br>
                                    Name of the Bank: JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    Company address: 32 BOHDANA KHMELNYTSKOHO STR., KYIV, 01054, UKRAINE (м. Київ, вул. Богдана Хмельницького б.32, кв.41)<br>
                                    Purpose of payment: Charitable donation to Ukrainian military.
                                </td>
                            </tr>
                        </table>
                        Sourse: <a href="https://savelife.in.ua/en/donate/" target="_blank"> Savelife.</a>
                        
                            
                    </section>
                    
                        
                    

                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
