--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Help Ukraine Resist </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=621a38a3761d0f0019f2bf2b&product=inline-share-buttons" async="async"></script>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1> FAQ </h1>
                        </header>
                    Here you will find some information/answers on frequantly asked questions about the Russia-Ukraine war (2014-now).
                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <section>
                        <section>
                                                
                        <header>
                            <h3> Is Putin the sole responsible for this war? </h3>
                        </header>  
                            
                            Indeed, some politicians, in particular Germany's Scholz, journalists and others often claim that Putin is the only responsible for this war. However, the following suggests that this claim  is not really acceptable:
                            <ul>
                                <li>
                                <a href="https://www.washingtonpost.com/world/2022/03/08/russia-public-opinion-ukraine-invasion/" target="_blank">Independent poll</a> showed that 58% of Russians support invasion of Ukraine and 23% oppose. 
                                </li>
                                <li>
                                A <a href="https://www.interfax.ru/russia/827641" target="_blank">survay</a> by VTsIOM showed that Putin's rating jumped ten percent in the week ending March 11 to reach 77% as compared to 67% on the week ending February 14 (before the war).
                                </li>
                                <li>
                                    <a href="https://www.bbc.com/news/world-europe-53511391" target="_blank">
                                       "When you are a part of mass-murder machinery, it is not enough to look away!"</a> From closing arguments of the prosecutor Lars Mahnke at the trial against Bruno Dey, who was found guilty over mass murder at Stutthof Camp despite he had not been involved in the killings.
                                </li>
                            </ul>
                                            
                    </section>
                        
                        
                    <small>
                    If this page was useful for you, drop us a short message on <a href="mailto:helpuaresist@gmail.com">helpuaresist {at} gmail.com</a>. 
                    </small>
                    </section>
                    
                    
                        
                    

                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
