--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Help Ukraine Resist: FAQ </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=621a38a3761d0f0019f2bf2b&product=inline-share-buttons" async="async"></script>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1> FAQ </h1>
                        </header>
                    Here you will find some information/answers on frequantly asked questions about the Russia-Ukraine war (2014-now).
                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <section>
                        <section>
                                                
                        <header>
                            <h3> Is Putin the sole responsible for this war? </h3>
                        </header>  
                            
                            Indeed, some politicians, in particular Germany's Scholz, and journalists often claim that Putin is the only responsible for this war. However, the following suggests that this claim  is not justified:
                            <ul>
                                <li>
                                <a href="https://www.washingtonpost.com/world/2022/03/08/russia-public-opinion-ukraine-invasion/" target="_blank">Independent poll</a> showed that 58% of Russians support invasion of Ukraine and only 23% oppose. 
                                </li>
                                <li>
                                A <a href="https://www.interfax.ru/russia/827641" target="_blank">survey</a> by VTsIOM showed that Putin's rating jumped ten percent in the week ending March 11 to reach 77% as compared to 67% on the week ending February 14 (before the war). This is in line with the raise of Putin's support among Russians after the Crimea annexation in 2014. 
                                </li>
                                <li>
                                    More than <a href="https://www.rsr-online.ru/news/2022-god/obrashchenie-rossiyskogo-soyuza-rektorov1/" target="_blank">300 rectors</a> of Russian Universities backed Russia's invasion of Ukraine.
                                </li>
                                <li>
                                    It was not Putin, who killed civilians in Bucha with hands tied behind their back.
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <span class="image">
										          <img src="images/APR02_Bucha_small2.jpeg"  alt="" />
									           </span>
                                            </td>
                                            <td>
                                                <span class="image">
										          <img src="images/APR02_Bucha2_small2.jpeg"  alt="" />
									           </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="image">
										          <img src="images/APR03_Bucha_small2.jpeg"  alt="" />
									           </span>
                                            </td>
                                            <td>
                                                <span class="image">
										          <img src="images/APR03_Bucha2_small2.jpeg"  alt="" />
									           </span>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </li>
                                <li>
                                    Nina Zhuk is a professional pharmacist from Kharkiv. She agreed to show her face after the bombing attack on Kharkiv. It was not Putin, who opted to deliver bombs straight into the city center of Kharkiv.
                                    <span class="image">
										<img src="images/Mar23_Nina.jpeg"  alt="" />
									</span>
                                </li>
                                <li>
                                    <a href="https://www.bbc.com/news/world-europe-53511391" target="_blank">
                                       "When you are a part of mass-murder machinery, it is not enough to look away!"</a> From closing arguments of the prosecutor Lars Mahnke at the trial against Bruno Dey, who was found guilty over mass murder at Stutthof Camp despite he had not been involved in the killings.
                                </li>
                            </ul>
                        
                        <header>
                            <h3> Is this the first war between Ukrainians and Russians? </h3>
                        </header>          
                        
                        No, the history of wars between (ancestors of) Ukrainians and Russians goes back as long as XIIIth century. In the more modern history, the last large-scale war happend between <a href="https://en.wikipedia.org/wiki/Ukrainian_People%27s_Republic">Ukrainian People's Republic</a> and Soviet Russia in 1918-1920. UPR lost that war and, as a result, the teritory of UPR became part of the USSR. Despite this defeat, numerours uprisings all over the teritory of Ukraine took part in 1920s. The red femine or <a href="https://en.wikipedia.org/wiki/Holodomor" target="_blank">Holodomor</a> was Stalin's response to the will of Ukrainians to be free. The number of victims of Holodomor is between 3.5 to 5 million people.<br><br>
                        Somewhat later, <a href="https://en.wikipedia.org/wiki/Ukrainian_Insurgent_Army" target="_blank">the Ukrainian Insurgent Army</a> was engaged in guerrilla warfare against the Soviet Union (and the Polish Underground State, Communist Poland, Nazi Germany) in 1942-1956 mainly on the West of current Ukraine.                   
                            
                    </section>
                        
                        
                    <br>
                    <br>
                    <small>
                    If this page was useful for you, drop us a short message on <a href="mailto:helpuaresist@gmail.com">helpuaresist {at} gmail.com</a>. 
                    </small>
                    </section>
                    
                    
                        
                    

                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
