--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Help Ukraine Resist </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Help Ukraine Resist </h1>
                        </header>

                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <header class="major">
                    <h2> Financially </h2>
                    </header>   
                        <header>
                            <h3> Gauge theory </h3>
                        </header>   
                        
                          
                        <br>
                        <br>
                    </section>
    
                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
