--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Help Ukraine Resist </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Help Ukraine Resist </h1>
                        </header>

                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <header class="major">
                    <h2> Financially </h2>
                    </header>  
                    <section>
                        <header>
                            <h3> Special account of the National Bank of Ukraine  </h3>
                        </header>   
                        
                        <table style="width:100%">
                            <tr>
                                <td>
                                    For UAH remittances:<br>
                                    Bank: National Bank of Ukraine<br>
                                    MFO 300001<br>
                                    Account No. UA843000010000000047330992708<br>
                                    EDRPOU Code 00032106<br>
                                    Payee: National Bank of Ukraine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For USD remittances:<br>
                                    SWIFT Code NBU: NBUA UA UX<br>
                                    JP MORGAN CHASE BANK, New York<br>
                                    SWIFT Code: CHASUS33<br>
                                    Account: 400807238<br>
                                    383 Madison Avenue, New York, NY 10179, USA<br>
                                    Funds will be wired into account No. UA843000010000000047330992708
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For GBP remittances:<br>
                                    SWIFT Code NBU: NBUA UA UX<br>
                                    Bank of England, London<br>
                                    SWIFT Code: BKENGB2L<br>
                                    Account: 40000982<br>
                                    Threadneedle Street, London  EC2R 8AH, UK<br>
                                    Funds will be wired into account No. UA843000010000000047330992708
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For EUR remittances:<br>
                                    SWIFT Code NBU: NBUA UA UX<br>
                                    DEUTSCHE  BUNDESBANK, Frankfurt<br>
                                    SWIFT Code: MARKDEFF<br>
                                    Account: 5040040066<br>
                                    IBAN DE05504000005040040066<br>
                                    Wilhelm-Epsteinn-Strabe  14, 60431  Frankfurt Am Main,Germany<br>
                                    Funds will be wired into account No. UA843000010000000047330992708
                                </td>
                            </tr>
                        </table>
                        Sourse: <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi" target="_blank"> NBU Webpage.</a>
                        </section>
                        
                        <section>
                        <header>
                            <h3> Accounts of the Ministry of Defense of Ukraine  </h3>
                        </header> 
                    <table style="width:100%">
                            <tr>
                                <td>
                                    For UAH remittances:<br>
                                    Одержувач: Міністерство оборони України<br>
                                    Код ЄДРПОУ: 00034022;<br>
                                    Банк: Державна казначейська служба України, м.Київ;<br>
                                    Код банку МФО: 820172;<br>
                                    Реєстраційні рахунки: UA458201720313281002302018611
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Other currencies:<br>
                                    <table style="width:100%">
                                        <tr>
                                            <td>Beneficiary Customer — Name</td> <td>The Ministry of Defence of Ukraine, 6, Povitroflotskiy Pr., Kyiv, Ukraine, 03168</td>
                                        </tr>
                                        <tr>
                                            <td>IBAN</td> <td>UA963223130000025307010029738</td>
                                        </tr>
                                        <tr>
                                            <td>Only the following currencies</td> <td>US dollars; Euro; British Pound sterling; Swiss francs; Canadian dollars; Polish zloty; Czech crowns; Russian roubles; Australian dollars.</td>
                                        </tr>
                                        <tr>
                                            <td>Bank Name</td> <td>JOINT STOCK COMPANY «THE STATE EXPORT-IMPORT BANK OF UKRAINE»</td>
                                        </tr>
                                        <tr>
                                            <td>Bank Address</td> <td>127, Antonovycha Str., Kyiv, Ukraine, 03150</td>
                                        </tr>
                                        <tr>
                                            <td>SWIFT</td> <td>EXBSUAUX</td>
                                        </tr>
                                        <tr>
                                            <td>Setting of payment (Obligatory Remittance Information):</td> <td>Donation for the logistic and medical support of the Armed Forces of Ukraine (UA458201720313281002302018611)</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        </section>
                       

                          
                        <br>
                        <br>
                    </section>
    
                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
