--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Andriy Haydys</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Andriy Haydys </h1>
                        </header>

                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <header class="major">
                    <h2> Research projects </h2>
                    </header>   
                        <header>
                            <h3> Gauge theory </h3>
                        </header>   
                        
                        The aim of this project is a construction of invariants of compact <a target="_blank" href="https://en.wikipedia.org/wiki/G2_manifold"> G2-manifolds</a> via gauge-theoretic methods.
                        A program for constructing such invariants was pioneered by Donaldson and Thomas. 
                        Roughly speaking, one would like to define an invariant of G2-manifolds which would remain constant along isotopies of G2-metrics by counting certain G2-instantons. 
                        One of the main problems of this approach is that the number of G2-instantons does not need to be constant along isotopies of G2-metrics.
                        Conjecturally, one should be able to obtain an invariant of a G2-manifold that remains constant along isotopies of G2-structures by counting G2-instantons together with certain Seiberg-Witten monopoles on associative submanifolds.
                        Some details of this approach can be found for example in Haydys' paper  <a target="_blank" href="http://arxiv.org/abs/1703.06329">G2 instantons and the Seiberg-Witten monopoles.</a>  
                        <br>
                        <br>
                    <h4>Selected publications:</h4>
                    </section>
    
                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
