--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Help Ukraine Resist </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics_hu.html %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=621a38a3761d0f0019f2bf2b&product=inline-share-buttons" async="async"></script>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1> Help Ukraine Resist </h1>
                        </header>
                    Are you looking for ways to help Ukraine? Can you volunteer time, money, skills? Here are some ideas for you.
                        
                </section>
                
                
                
                
                <!-- Section -->
                <section>
                    <section>
                        <section>
                        <header>
                            <h2> Want to donate for non-lethal equipment?  </h2>
                        </header>   
                        
                        <header>
                            <h3> CO "International Charitable Foundation "Come Back Alive" </h3>
                        </header>  
                            
                        Focus: We supply technology, training, and ammunition. After arriving home from the front line of defense, our troops receive support with sports rehabilitation and the development of veteran-run businesses.<br>
                        <a href="comebackalive_banking.html" target="_blank">Banking details.</a>
                                                
                        <br><br>
                        
                         <header>
                            <h3> Charity fund ARMY SOS </h3>
                        </header>  
                        
                        <table style="width:100%">
                            <tr>
                                <td>
                                    For UAH remittances:<br>
                                    Благодійний Фонд "АРМІЯ СОС"<br>
                                    ЄДРПОУ: 39363613<br>
                                    Рахунок UAH: UA633052990000026007046801720<br>
                                    або картка БФ "Армія СОС" 5169 3351 0045 1331<br> 
                                    Банк: ПАТ Комерційний Банк «ПРИВАТБАНК» 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For USD remittances:<br>
                                    Recipient name: Charity fund ARMY SOS<br> 
                                    Bank: JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    Recipient address: 3/5 Vasilya Yana str., Kyiv, Ukraine, 01033<br> 
                                    IBAN Code: UA203052990000026003016809842<br><br>

                                    Correspondent bank: Commerzbank AG, Frankfurt am Main, Germany<br>
                                    Account at correspondent bank: 400886700401<br>
                                    Correspondent bank SWIFT: COBADEFF<br><br>
                                    
                                    <b>OR</b><br>
                                    Correspondent bank: J.P.MORGAN AG, FRANKFURT AM MAIN, GERMANY<br>
                                    Account at correspondent bank: 001-1-000080<br>
                                    Correspondent bank SWIFT: CHASUS33
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For EUR remittances:<br>
                                    Recipient name: Charity fund ARMY SOS<br> 
                                    Bank: JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    Recipient address: 3/5 Vasilya Yana str., Kyiv, Ukraine, 01033<br> 
                                    IBAN Code: UA453052990000026005006802125<br><br>

                                    Correspondent bank: Commerzbank AG, Frankfurt am Main, Germany<br>
                                    Account at correspondent bank: 400886700401<br>
                                    Correspondent bank SWIFT: COBADEFF<br><br>
                                    
                                    <b>OR</b><br>
                                    Correspondent bank: J.P.MORGAN AG, FRANKFURT AM MAIN, GERMANY<br>
                                    Account at correspondent bank: 6231605145<br>
                                    Correspondent bank SWIFT: CHASDEFX 
                                    
                                    
                                </td>
                            </tr>
                        </table>
                        Sourse: <a href="https://armysos.com.ua/pomoch-armii" target="_blank"> Army SOS.</a>        
                        
                        <br><br>
                        
                         <header>
                            <h3> Charitable Foundation ”PHOENIX WINGS” </h3>
                        </header>  
                        
                        <table style="width:100%">
                            <tr>
                                <td>
                                    ЄДРПОУ: 39532919<br>
                                    Банк: ПАТ КБ "ПриватБанк" м. Києва.<br>
                                    МФО: 300711<br>
                                    Рахунок UAH: 2600 3052 7548 01<br>
                                    Назва організації: "Благодійна організація "Благодійний фонд "Крила Фенікса"<br>
                                    ЄДРПОУ: 395 32 919                                    
                                </td>
                            </tr>
                        </table>
                        Sourse: <a href="http://wings-phoenix.org.ua/uk/pro-fond/" target="_blank"> Крила Фенікса.</a>  
                        
                    </section>
                        
                         <br><br>
                        
                    <section>
                        <header>
                            <h3> Are you willing to help with the medical treatment of those wounded in action? </h3>
                        </header>   
                        
                        Donate the charity fund <a href="https://www.facebook.com/hospitallers/" target="_blank">“Hospitallers”.</a> 
                        
                        <table style="width:100%">
                            <tr>
                                <td>
                                    For USD remittances:<br>
                                    BENEFICIARY: FEDIANOVYCH HANNA  VITALIIVNA  51400, Ukraine,region Dnipropetrovska,district Pavlohradskyi,city Pavlohrad,street Zakhidna,building 13<br>
                                    IBAN: UA973052990262086400928825287 <br>
                                    ACCOUNT NR: 4149 4993 9795 0427<br>
                                    BANK: JSC CB PRIVATBANK, 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    INTERMEDIARY BANK: JP MORGAN CHASE BANK<br>
                                    CORRESPONDENT BANK ACCOUNT: 0011000080<br>
                                    SWIFT CODE/BIC: CHASUS33
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    For EUR remittances:<br>
                                    BENEFICIARY: FEDIANOVYCH HANNA VITALIIVNA 51400, Ukraine,region Dnipropetrovska,district Pavlohradskyi,city Pavlohrad,street Zakhidna,building 13<br>
                                    IBAN: UA323052990262006400928825801<br>
                                    ACCOUNT: 5168 7451 2080 1474<br>
                                    BANK: JSC CB PRIVATBANK, 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE<br>
                                    SWIFT: PBANUA2X<br>
                                    INTERMEDIARY BANK: J.P.MORGAN AG, FRANKFURT AM MAIN, GERMANY<br>
                                    ACCOUNT: 623-160-5145<br>
                                    SWIFT: CHASDEFX
                                </td>
                            </tr>
                        </table>
                        Sourse: <a href="https://www.facebook.com/hospitallers/" target="_blank">“Hospitallers”.</a>
                        
                    </section>
                        
                        <br><br>
                        
                    <section>
                        <header>
                            <h3> Support children of war in Ukraine! </h3>
                        </header>   
                        
                        You can do so by donating to <a href="https://voices.org.ua/en/" target="_blank">the Voices of Children Foundation</a> using <a href="https://voices.org.ua/en/donat/" target="_blank">the credit card, paypal, or bank transfer.</a>
                        
                    </section>
                        
                        <br><br>
                        
                        <header>
                            <h2> Want to donate directly to the Ukrainian Army?  </h2>
                        </header>   
                        
                        You can <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi" target="_blank">donate</a> by the credit card, G Pay or bank transfer to the special account of the NBU.
                        </section>
                        
                        <br>
                        <br>
                    
                    <header>
                            <h2> Can you offer an accommodation for refugees?  </h2>
                    </header>
                      
                    If you are willing to offer an accommodation for refugees from Ukraine, you can do so on <a href="https://www.airbnb.org/get-involved" target="_blank">Airbnb</a> and/or <a href="https://prykhystok.in.ua/" target="_blank">Prykhystok</a> (Right now this webpage is in Ukrainian only, however this works quite well via google-translate and Chrome).
                    
                        <br>
                        <br>
                    
                     <header>
                            <h2> Do you have a medical training? Help hospitals in Ukraine.  </h2>
                    </header>
                    
                    The Ministry of Health of Ukraine <a href="https://en.moz.gov.ua/article/news/we-invite-our-foreign-colleagues-to-work-in-medical-institutions-during-this-difficult-time" target="_blank">invites</a> you to work in medical institutions in Ukraine during this difficult time. Contacts: 
                    <ul>
                        <li>
                            Mariana Sluzhynska, +38 050 315 8418, ukrainemedhelp@gmail.com
                        </li>
                    </ul>
                         
                         
                    <header>
                            <h2> Do you have excellent IT skills?  </h2>
                    </header>   
                    
                    <ul>
                        <li> Join the <a href="https://t.me/s/itarmyofukraine2022" target="_blank"> IT Army Ukraine. </a></li>
                        <li> Are you a keyboard warrior? Want to share your IT skills with organisations in Ukraine? Contact <a href="https://techtotherescue.org/tech/tech-for-ukraine"> Tech To the Rescue.</a> </li>
                        <li> Are you active on social media? Share evidences of Russian crimes in Ukraine.</li>
                    </ul>
                    
                    
                    <header>
                            <h2> Do you think your government should do more?  </h2>
                    </header> 
                    
                    <ul>
                        <li>
                        Take part in rallies: <a href="https://worldforukraine.net/" target="_blank">interactive map.</a>
                        </li>
                        <li>
                        Write to your MP urging more action from your government.
                        </li>
                    </ul>
                    
                    
                    <header>
                            <h2> Do you wish to provide a humanitarian aid for Ukraine?  </h2>
                    </header> 
                    
                    <ul>
                        <li>
                        Do you want to help Ukraine with medicines or something else? Check <a href="https://docs.google.com/spreadsheets/d/1XrhKxwHuxDPbTo2_TqG2nfXZcS2_42AWoyNLLKPjtxs/edit#gid=0" target="_blank">the list of needs</a> of <a href="https://helpukraine.center/en" target="_blank">the Help Ukraine! center</a>, buy and send this to the center.
                        </li>
                        <li>
                          If you already have a humanitarian aid and are looking for logistics, <a href="https://pomich.org/shippers" target="_blank">Crisis Logistics Center</a>  has a pool of reliable carriers. Add a request for transportation and the Center will connect you with a carrier ready for delivery.
                        </li>
                    </ul>
                    
                    <header>
                            <h2> Do you want to support Ukrainians directly?  </h2>
                    </header> 
                    
                    Book a room via <a href="https://www.airbnb.com" target="_blank">Airbnb</a> in Ukraine. We do not urge you to stay in Ukraine during the war, however your booking will support people, who are mostly left without income at this moment. 
                    
                    <br><br>
                    
                    <header>
                            <h2> Are you ready to fight yourself? Ukraine needs you!  </h2>
                    </header> 
                    
                    <ul>
                        <li>
                        If your citizenship is other than Ukrainian and you have a military training, you can join <a href="https://fightforua.org/" target="_blank"> the International legion.</a> Hotline: +380442370002 (press ' 2 ' for English).
                        </li>
                    </ul>
                    
                    
                    <header>
                            <h2> Share this information with your friends!</h2>
                    </header> 
                    
                    <ul>
                        <li>
                            Print <a href="helpukraine_Mar6web.pdf" target="_blank">the brochure,</a> fold, and put into your neighbor's postbox.
                        </li>
                        <li>
                            Share this page on social media: <div class="sharethis-inline-share-buttons"></div>
                        </li>
                    </ul>   
                    
                    If this page was useful for you, drop us a short message on <a href="mailto:helpuaresist@gmail.com">helpuaresist {at} gmail.com</a>. Also, if you know about some resources, which you think should be on this webpage too, please let us know! 
                    
                    </section>
                    
                        
                    

                            
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar_hu.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
