<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <!--section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
            <section>
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li><a href="cv.html">Why?</a></li>
                    </ul>
                </nav>
            </section>
            <br>
            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="mailto:helpuaresist@gmail.com">helpuaresist <at> gmail.com</a></li>
                </ul>

            </section>
            <br><br>
            <section>
                <!-- Footer -->
                <footer id="footer">
                    Last updated: {{ site.time | date_to_string }}<br> Design: <a href="https://html5up.net">HTML5 UP</a>.
                </footer>
            </section>
        </div>
    </div>


</body>

</html>